@media screen and (max-width: 1100px) {

    #projects h2,
    #techs h2,
    #contact h2 {
        font-size: 1.8rem;
    }

    .nav-links a {
        font-size: 9pt;
    }

    #welcome h1 {
        font-size: 40pt;
    }

    #welcome h2 {
        font-size: 25pt;
    }

    #welcome p {
        font-size: 9pt;
    }

    .project-details h3 {
        font-size: 15pt;
    }

    .project-details p {
        font-size: .7em;
    }

    .project-viewer a {
        /* width: ; */
    }
}

@media screen and (max-width: 998px) {
    .side-bar-menu {
        /* background-color: red; */
        position: relative;
        width: calc(100% - 60px);
        height: 80px;
        display: flex;
    }

    .profile,
    .nav-links {
        display: none;
    }

    .nav-mobile {
        display: block;
        align-self: center;
    }

    .nav-mobile img {
        width: 40px;
        filter: invert(100%);
    }

    main {
        margin: 0 auto;
        padding: 20px 40px;
    }

    #welcome {
        padding: 50px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 50px 0;
    }

    .techs-container {
        width: 100%;
    }

    #projects {
        margin: 0;
    }
}

@media screen and (max-width: 789px) {
    #projects h2, #techs h2, #contact h2 {
        text-align: center;
    }
    
    #welcome h1 {
        font-size: 35pt;
    }

    #welcome h2 {
        font-size: 20pt;
    }

    #welcome p {
        font-size: 8pt;
    }

    .welcome-social ul {
        width: 40px;
    }


    .project-details p {
        width: 80%;
        font-size: .6em;
    }

    .project-viewer a {
        font-size: 0.6em
    }
}

@media screen and (max-width: 609px) {

    #welcome {
        flex-direction: column-reverse;
        /* background-color: aqua; */
        
        margin: 60px 0;
    }

    .welcome-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #welcome p {
        font-size: 12pt;    
        width: 100%;
    }

    .list-of-projects  {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .list-of-projects .project {
        flex-direction: column-reverse;
    }

    .project .project-image {
        width: 100%;
        /* display: flex    ; */
    }

    .project-details {
        width: 100%;
    }

    .project-details p {
        font-size: 10pt;
    }

    .project-viewer a { 
        margin-bottom: 20px;
    }

}

